<link rel='stylesheet' href='../stylesheets/style.css' />

<h1> {{name}} </h1>

{{#if price}}
	<h2> {{price}} </h2>
{{else}}
	<h2>Price Unavaliable</h2>
{{/if}}

{{#if ingredients}}
	<h2>Ingredients</h2>
	{{#each ingredients}}
		<p>{{this}}</p>
	{{/each}}
{{else}}
	<h2>Ingredients Unavaliable</h2>
{{/if}}

{{#if isVeggie}}
<h3>This Pizza is Veggie</h3>
{{/if}}

<img src='{{image}}' alt='{{title}}' />
{{> orderPizza}}
