<link rel='stylesheet' href='../stylesheets/style.css' />

<h1> {{title}} </h1>

{{#if price}}
	<h2> {{price}} </h2>
{{else}}
	<h2>Price Unavaliable</h2>
{{/if}}

<h2>Ingredients</h2>

{{#each ingredients}}
	<p>{{this}}</p>
{{/each}}

<img src='{{image}}' alt='{{title}}' />
